spring:
  application:
    name: api-gateway
  profiles:
    active: prod

rate-limiter:
  bucket:
    capacity: 5
    refill-token-amount: 1
    refill-interval-seconds: 60

---
server:
  port: 8080

spring:
  config:
    activate:
      on-profile: prod
  data:
    redis:
      host: redis
      port: 6379
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - name: api-service-route
              uri: lb://api-service
              predicates:
                - Path=/api/v1/**
              filters:
                - name: RateLimiter
                  args:
                    bucketKey: "ratelimit"
                    redirectUri: "https://google.com"
    discovery:
      client:
        simple:
          instances:
            api-service:
              - uri: http://app1:8080
              - uri: http://app2:8080

---
server:
  port: 8079

spring:
  config:
    activate:
      on-profile: dev
  data:
    redis:
      host: localhost
      port: 6379
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: api-service-route
              uri: lb://api-service
              predicates:
                - Path=/api/v1/**
              filters:
                - name: RateLimiter
                  args:
                    bucketKey: "ratelimit"
                    redirectUri: "https://google.com"
    discovery:
      client:
        simple:
          instances:
            api-service:
              - uri: http://localhost:8081
              - uri: http://localhost:8082
